@font-face {
  font-family: "Unna_regular";
  src: url("fonts/Unna/Unna-Regular.ttf") format("truetype");
}
.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

html {
  --dark_blue: rgb(7, 7, 116);
  --dark_gold: #daa520;
}

body {
  justify-content: center;
  font-family: "Unna_regular", Helvetica, Cambria, "Times New Roman", serif;
  font-weight: bold;
}
body .inner_wrapper {
  width: 800px;
}
body .inner_wrapper .name_profession_block {
  margin-bottom: 10px;
}
body .inner_wrapper .name_profession_block .full_name {
  margin: 0;
  font-size: 26px;
  color: var(--dark_blue);
}
body .inner_wrapper .name_profession_block .profession {
  margin: 0;
  font-size: 18px;
  color: var(--dark_gold);
}
body .inner_wrapper .contacts_row {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
body .inner_wrapper .contacts_row .contact_wrapper {
  align-items: center;
  column-gap: 4px;
  font-family: "Cambria";
}
body .inner_wrapper .contacts_row svg {
  fill: var(--dark_gold);
}
body .inner_wrapper .contacts_row .phone_number, body .inner_wrapper .contacts_row .email, body .inner_wrapper .contacts_row .location {
  text-decoration: none;
  color: #000;
}
body .inner_wrapper .content_columns_wrapper {
  width: 100%;
  justify-content: space-between;
  column-gap: 30px;
}
body .inner_wrapper .content_columns_wrapper .block_title {
  color: var(--dark_blue);
  margin: 0 0 10px 0;
  font-size: 18px;
  border-bottom: var(--dark_blue) 1px solid;
}
body .inner_wrapper .content_columns_wrapper .left_column {
  width: 65%;
  flex-shrink: 0;
}
body .inner_wrapper .content_columns_wrapper .left_column .skills_block {
  margin-bottom: 10px;
}
body .inner_wrapper .content_columns_wrapper .left_column .skills_block .skill_names_row {
  align-items: center;
  row-gap: 10px;
  column-gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 8px;
}
body .inner_wrapper .content_columns_wrapper .left_column .skills_block .skill_names_row .skill_item {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}
body .inner_wrapper .content_columns_wrapper .left_column .skills_block .skill_names_row .skill_item .bold {
  font-weight: 800;
}
body .inner_wrapper .content_columns_wrapper .left_column .experience_block .experience_container {
  row-gap: 3px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}
body .inner_wrapper .content_columns_wrapper .left_column .experience_block .experience_container .position {
  margin: 0;
  color: var(--dark_gold);
  font-size: 15px;
}
body .inner_wrapper .content_columns_wrapper .left_column .experience_block .experience_container .firm_and_project_name {
  color: var(--dark_blue);
  font-size: 15px;
}
body .inner_wrapper .content_columns_wrapper .left_column .experience_block .experience_container .experience_subsection_title {
  text-decoration: underline;
  margin: 0;
  font-size: 14px;
}
body .inner_wrapper .content_columns_wrapper .left_column .experience_block .experience_container ul.experience_subsection {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.2px;
}
body .inner_wrapper .content_columns_wrapper .left_column .experience_block .experience_container ul {
  margin: 0;
}
body .inner_wrapper .content_columns_wrapper .left_column .experience_block .experience_container ul li {
  margin: 0;
}
body .inner_wrapper .content_columns_wrapper .right_column {
  width: -webkit-fill-available;
}
body .inner_wrapper .content_columns_wrapper .right_column .education_block {
  margin-bottom: 25px;
}
body .inner_wrapper .content_columns_wrapper .right_column .education_block .education_inner_wrapper {
  row-gap: 10px;
}
body .inner_wrapper .content_columns_wrapper .right_column .education_block .education_inner_wrapper .education_container {
  row-gap: 1px;
}
body .inner_wrapper .content_columns_wrapper .right_column .education_block .education_inner_wrapper .education_container .school_name {
  font-weight: bold;
  font-size: 15px;
  color: var(--dark_gold);
}
body .inner_wrapper .content_columns_wrapper .right_column .education_block .education_inner_wrapper .education_container .major {
  font-size: 14px;
  font-weight: normal;
}
body .inner_wrapper .content_columns_wrapper .right_column .contacts_block {
  margin-bottom: 35px;
}
body .inner_wrapper .content_columns_wrapper .right_column .contacts_block .contacts_inner_wrapper {
  row-gap: 10px;
}
body .inner_wrapper .content_columns_wrapper .right_column .contacts_block .contacts_inner_wrapper .contact_container {
  column-gap: 13px;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-bottom: 3px;
  text-decoration: none;
  color: #000;
}
body .inner_wrapper .content_columns_wrapper .right_column .contacts_block .contacts_inner_wrapper .contact_container svg {
  fill: var(--dark_gold);
  width: 20px;
  height: 20px;
}
body .inner_wrapper .content_columns_wrapper .right_column .contacts_block .contacts_inner_wrapper .contact_container .contact_name {
  font-size: 14px;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
