@font-face {
    font-family: 'Unna_regular';
    src: url("fonts/Unna/Unna-Regular.ttf") format("truetype");
 }

.flex_row{
    display: flex;
    flex-direction: row;
}

.flex_col{
    display: flex;
    flex-direction: column;
}

html{
    --dark_blue: rgb(7, 7, 116);
    --dark_gold: #daa520;
}

body{
    justify-content: center;
    font-family: 'Unna_regular', Helvetica, Cambria,'Times New Roman', serif;
    font-weight: bold;

    .inner_wrapper{
        width: 800px;

        .name_profession_block{
            margin-bottom: 10px;

            .full_name{
                margin: 0;
                font-size: 26px;
                color: var(--dark_blue)
            }

            .profession{
                margin: 0;
                font-size: 18px;
                color: var(--dark_gold);
            }
        }
        
        .contacts_row{
            justify-content: space-between;
            width: 100%;
            margin-bottom: 20px;

            .contact_wrapper{
                align-items: center;
                column-gap: 4px;
                font-family: 'Cambria';
            }

            svg{
                fill: var(--dark_gold);
            }

            .phone_number, .email, .location{
                text-decoration: none;
                color: #000;
            }
        }

        .content_columns_wrapper{
            width: 100%;
            justify-content: space-between;
            column-gap: 30px;

            .block_title{
                color: var(--dark_blue);
                margin: 0 0 10px 0;
                font-size: 18px;
                border-bottom: var(--dark_blue) 1px solid;
            }

            .left_column{
                width: 65%;
                flex-shrink: 0;

                .skills_block{
                    margin-bottom: 10px;

                    .skill_names_row{
                        align-items: center;
                        row-gap: 10px;
                        column-gap: 20px;
                        flex-wrap: wrap;
                        margin-bottom: 8px;

                        .skill_item{
                            font-size: 14px;
                            font-weight: 300;
                            margin: 0;

                            .bold{
                                font-weight: 800;
                            }
                        }
                    }
                }

                .experience_block{
                   
                    .experience_container{
                        row-gap: 3px;
                        margin-bottom: 15px;
                        padding-bottom: 15px;
                        border-bottom: 1px solid gray;

                        .position{
                            margin: 0;
                            color: var(--dark_gold);
                            font-size: 15px;
                        }

                        .firm_name{
                            color: var(--dark_blue);
                            font-size: 15px;
                        }

                        .experience_subsection_title{
                            text-decoration: underline;
                            margin: 0;
                            font-size: 14px;
                        }

                        ul.experience_subsection{
                            font-size: 14px;
                            font-weight: normal;
                            letter-spacing: 0.2px;
                        }

                        ul{
                            margin: 0;

                            li{
                                margin: 0;
                            }
                        }
                    }
                }
            }

            .right_column{
                width: -webkit-fill-available;

                .education_block{
                    margin-bottom: 25px;

                    .education_inner_wrapper{
                        row-gap: 10px;

                        .education_container{
                            row-gap: 1px;

                            .school_name{
                                font-weight: bold;
                                font-size: 15px;
                                color: var(--dark_gold);
                            }

                            .major{
                                font-size: 14px;
                                font-weight: normal;
                            }

                        }
                    }
                }

                .contacts_block{
                    margin-bottom: 35px;

                    .contacts_inner_wrapper{
                        row-gap: 10px;

                        .contact_container{
                            column-gap: 13px;
                            align-items: center;
                            border-bottom: 1px solid gray;
                            padding-bottom: 3px;
                            text-decoration: none;
                            color: #000;

                            svg{
                                fill: var(--dark_gold);
                                width: 20px;
                                height: 20px;
                            }

                            .contact_name{
                                font-size: 14px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}